<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{297,39}}</string>
                <key>offset</key>
                <string>{-93,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{297,39}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1685},{283,23}}</string>
                <key>offset</key>
                <string>{86,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,287},{283,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{293,57}}</string>
                <key>offset</key>
                <string>{-96,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{293,57}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1603},{293,39}}</string>
                <key>offset</key>
                <string>{88,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,288},{293,39}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1503},{293,57}}</string>
                <key>offset</key>
                <string>{-96,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{293,57}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1465},{207,23}}</string>
                <key>offset</key>
                <string>{47,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,287},{207,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1465},{193,23}}</string>
                <key>offset</key>
                <string>{39,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,287},{193,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1685},{119,23}}</string>
                <key>offset</key>
                <string>{-181,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{119,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1465},{177,23}}</string>
                <key>offset</key>
                <string>{32,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,287},{177,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{291,39}}</string>
                <key>offset</key>
                <string>{-96,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{291,39}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1444},{89,19}}</string>
                <key>offset</key>
                <string>{-14,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,289},{89,19}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>00_BG_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{719,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,405}}</string>
                <key>sourceSize</key>
                <string>{719,405}</string>
            </dict>
            <key>00_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{719,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,405}}</string>
                <key>sourceSize</key>
                <string>{719,405}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Story00.png</string>
            <key>size</key>
            <string>{409,1710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25ca6e77677bb2b6d3de2ff905062d58:8ee8a606ed70a87160f837df49cefa3c:811d5c11c4ab5549697953880e777614$</string>
            <key>textureFileName</key>
            <string>Story00.png</string>
        </dict>
    </dict>
</plist>
