<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{283,39}}</string>
                <key>offset</key>
                <string>{85,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,288},{283,39}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,41}}</string>
                <key>offset</key>
                <string>{-96,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,26},{291,41}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,27},{43,23}}</string>
                <key>offset</key>
                <string>{-36,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,287},{43,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{231,23}}</string>
                <key>offset</key>
                <string>{-126,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,27},{231,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,27},{45,21}}</string>
                <key>offset</key>
                <string>{-35,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,288},{45,21}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,27},{133,23}}</string>
                <key>offset</key>
                <string>{9,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,287},{133,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Story02.png</string>
            <key>size</key>
            <string>{813,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b6a805ac15e5d795c5cdf4fb0b7e1b0:69d7c9c07967b94bd581dbf76f8f2988:73c49db554396950132204fec4f80f5d$</string>
            <key>textureFileName</key>
            <string>Story02.png</string>
        </dict>
    </dict>
</plist>
