<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{291,41}}</string>
                <key>offset</key>
                <string>{-95,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,26},{291,41}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{51,21}}</string>
                <key>offset</key>
                <string>{-32,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,289},{51,21}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,57}}</string>
                <key>offset</key>
                <string>{-96,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{293,57}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{291,57}}</string>
                <key>offset</key>
                <string>{88,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,287},{291,57}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{291,41}}</string>
                <key>offset</key>
                <string>{-96,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,26},{291,41}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{43,21}}</string>
                <key>offset</key>
                <string>{-36,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,288},{43,21}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{521,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,161},{521,39}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Story03.png</string>
            <key>size</key>
            <string>{1745,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690e1650a2abe494e768bae31942aabb:1e167abaf250b3ad54dad42ca23af1dd:fbf2a4ccb2869c5c1bfffd3d14850a2d$</string>
            <key>textureFileName</key>
            <string>Story03.png</string>
        </dict>
    </dict>
</plist>
