<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{284,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,167},{284,32}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,36},{344,16}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,166},{344,16}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{270,32}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,168},{270,32}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,38},{132,16}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,166},{132,16}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{240,32}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{240,32}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,36},{194,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,168},{194,16}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,20},{194,16}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,166},{194,16}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{262,16}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,166},{262,16}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,36},{312,16}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,166},{312,16}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,36},{314,16}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,165},{314,16}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{326,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,166},{326,32}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,52}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,138},{280,52}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StoryEnd.png</string>
            <key>size</key>
            <string>{1676,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d52766fb3782a6b6980db4f32186beb2:b457d6dc414e0e3fa9ea66d2de354aac:2d3447cf3af2c878bc6c701720840c27$</string>
            <key>textureFileName</key>
            <string>StoryEnd.png</string>
        </dict>
    </dict>
</plist>
