<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,41},{169,21}}</string>
                <key>offset</key>
                <string>{26,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,289},{169,21}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{289,41}}</string>
                <key>offset</key>
                <string>{-96,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,26},{289,41}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{255,23}}</string>
                <key>offset</key>
                <string>{70,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,287},{255,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,57}}</string>
                <key>offset</key>
                <string>{-93,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,26},{297,57}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,27},{223,23}}</string>
                <key>offset</key>
                <string>{54,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,287},{223,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{297,39}}</string>
                <key>offset</key>
                <string>{-93,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{297,39}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{425,37}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,163},{425,37}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Story04.png</string>
            <key>size</key>
            <string>{1575,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79aec1aa0597a6ecbfae032f5b83572b:d4a347044e53ad3bdd2b30230cd77005:8346d62fd257ed4d144e2e4d0a8b2bc2$</string>
            <key>textureFileName</key>
            <string>Story04.png</string>
        </dict>
    </dict>
</plist>
