<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>L.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Lattck_01.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>Lattck_02.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>Lattck_03.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Lattck_04.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>Lattck_05.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>Lattck_06.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>Lattck_07.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>Lattck_08.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>Lattck_09.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>Lattck_10.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>689</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>Lattck_11.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>741</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>Lattck_12.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>788</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>Lattck_13.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>822</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>Lattck_14.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>868</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>Lattck_15.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>919</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>Lattck_16.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>Lattck_17.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>LDown,_01.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>LDown,_02.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>310</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>LDown,_03.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>LDown,_04.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>LDown,_05.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>LDown,_06.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>LDown,_07.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>865</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>LDown,_08.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>Lfiy2_01.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Lfiy2_02.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>LFlankHurt_02.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>LFly.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LHeadHurt_01.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>LHeadHurt_02.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>LRiderKick_01.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>LRiderKick_02.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>LRiderKick_03.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>710</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>LRiderKick_04.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>LRiderKick_05.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>856</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>LRiderKick_06.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>LRiderKick_07.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>976</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>LRiderSting_01.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>LRiderSting_02.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LRiderSting_03.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>LRiderSting_04.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>LRiderSting_05.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>279</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>LRiderSting_06.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>LRiderSting_07.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>LRiderSting_08.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>LRiderSting_09.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>LRiderSting_10.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>775</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>LRiderSting_11.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>LRiderSting_12.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>LRiderSting_13.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>LSB_Jump_01.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>LSB_Jump_02.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>LSB_Jump_03.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>LSB_Jump_04.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>LSB_Jump_05.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>LSB_Jump_06.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>LSB_Jump_07.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>LSB_Stand_01.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>LSB_Stand_02.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>LSB_Stand_03.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>683</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>LSB_Walk_01.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>LSB_Walk_02.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>LSB_Walk_03.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>812</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>LSB_Walk_04.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>Lteji_01.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>Lteji_02.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>946</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>Lteji_03.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>Lteji_04.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>Lteji_05.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>Lteji_06.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>Lteji_07.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>LUP_01.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>LUP_02.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>LUP_03.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>LUP_04.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>593</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Liuhai0.png</string>
			<key>realTextureFileName</key>
			<string>Liuhai0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>