<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>da.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,302},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,250},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,302},{50,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,250},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>qi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,250},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>resources/icons/Icon.ico</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{256,246}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>resources/icons/TexturePackerDocument.ico</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{360,472}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,5},{360,472}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ruan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,302},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,250},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,250},{46,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{46,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>she.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,302},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,318},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{44,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ssai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,318},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{44,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>start_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>szuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,284},{46,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{46,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startpages.png</string>
            <key>size</key>
            <string>{1392,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3653979301735f3bab99292416fb8c30:ad5d668090b3b6602aacca52126504ea:65c5a7310b26d060332832d0a92e67b0$</string>
            <key>textureFileName</key>
            <string>startpages.png</string>
        </dict>
    </dict>
</plist>
