<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{301,23}}</string>
                <key>offset</key>
                <string>{92,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,287},{301,23}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{45,21}}</string>
                <key>offset</key>
                <string>{-35,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,288},{45,21}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{43,19}}</string>
                <key>offset</key>
                <string>{-37,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,289},{43,19}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
            <key>05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,163},{477,37}}</string>
                <key>sourceSize</key>
                <string>{643,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Story05.png</string>
            <key>size</key>
            <string>{876,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fed464712c1e2c9e1dd26f32ffdf371:593cb3981f4cc52fd8d87ae0fa789ff7:41a2c5ae85baefd38e5f3a5ad0c3174f$</string>
            <key>textureFileName</key>
            <string>Story05.png</string>
        </dict>
    </dict>
</plist>
